# Deployment environment variables
# Copy this file to .env and fill in your values

SSH_DEPLOY_HOST=1.2.3.4
SSH_DEPLOY_USER=bob
SSH_DEPLOY_PORT=22
SSH_DEPLOY_APP_PATH=/opt/docker/scrumpoker
IMAGE_NAME=scrumpoker
IMAGE_TAG=latest
APP_PORT=3001
